.content li{
	list-style: none;
	width: 30px;
	height: 30px;
	margin: 3px;
	float: left;
	text-align: center;
	background-color: red;
	padding: 10px;
}
.opacity li:nth-child(1){
	opacity:1
}
.opacity li:nth-child(2){
	opacity:0.8
}
.opacity li:nth-child(3){
	opacity:0.6
}
.opacity li:nth-child(4){
	opacity:0.4
}
.rgba li:nth-child(1){
	background-color: rgba(255,0,0,1);
}
.rgba li:nth-child(2){
	background-color: rgba(255,0,0,0.8);
}
.rgba li:nth-child(3){
	background-color: rgba(255,0,0,0.6);
}
.rgba li:nth-child(4){
	background-color: rgba(255,0,0,0.4);
}